<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <select v-model="week">
        <option disabled value="">Select week:</option>
        <option value=1>Week 1</option>
        <option value=2>Week 2</option>
        <option value=3>Week 3</option>
        <option value=4>Week 4</option>
    </select>
     <input type="text" v-bind:value="week">
     <p>Week : {{week}}</p>
     <ul>
        <li v-for="v in vocab" v-bind:key="v">
            {{v.week_no}} <br>
            {{v.vocab_list[0].en}} = {{v.vocab_list[0].th}} <br>
            {{v.vocab_list[1].en}} = {{v.vocab_list[1].th}}

        </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Chokchai Vocab',
      week: '',
      vocab: [{ week_no: 1, vocab_list: [{ en: 'cat', th: 'แมว' }, { en: 'rat', th: 'หนู' }] }]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
